.navbar_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 20px;
}

.navbar_main a {
  text-decoration: none;
  padding: 20px 24px;
  background-color: var(--secound-dark);
  color: var(--light);
  margin-right: 10px;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_right {
  margin-left: 20px;
}

.logo {
  background-color: var(--dark);
  font-size: 2rem;
}
