:root {
  background: #0a0a0a;
  color: #ededed;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border: red 1px solid;
}

/*-----------------------NAVBAR--------------------------*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*-----------------------LOGIN--------------------------*/
.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    max-width: 100%;
  }
}